<div class="container">
	<div class="row">
		<div class="col-md-12 text-center" id="top-bar">
			<h1> Vice Scraper </h1>
		</div>
		<div class="col-md-6 text-center" class="task">
			<div class="row">
			  {{#each articles}}
			  
				<div class="col-md-9 text-center">
					<pre>{{this.id}}. {{this.title}}
					</pre>
				  		<!-- {{this.Date}} -->
				</div>
				
				
			  {{/each}}
			</div>
			<button class="scrape"> Scrape for an article </button>
		</div>
	
