<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="/">Mongoose Scraper</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/saved"> Saved Articles</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/articles">All Articles</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/scrape" >Scrape for articles</a>
  </li>
</ul>

  <div class="container">
	<div class="row">
		<div class="col-md-12 text-center" id="top-bar">
			<h1> Vice Scraper </h1>
		</div>
		<div class="col-md-12 text-center" class="task">
			<div class="row">
			  {{#each articles}}
			  
				<div class="col-md-12 text-center">
					<pre>{{this.title}}.
					</pre>
				  		<!-- {{this.Date}} -->
				</div>
				
				
			  {{/each}}
			</div>
			<button class="scrape"> Scraper !!!!!! </button>
		</div>
	
